<body>
  <div class="appMainSection">
    <div class="appSection">
      <h1 style="margin: 30px 0px 20px 0px;"> Todo App</h1>


      <p class="todoList">Todo list</p>
      <div *ngIf="items">
        <p  *ngFor="let data of items; let index = index" class="list">

          <span class="liWithDLTicon" >
            <input (blur)="editList(index ,$event)"  [value]="data"/>  <mat-icon (click)="deleteList(index)">delete_forever</mat-icon> </span>
            <!-- <input (change)="editList(index, data)" [value]="data" /> -->



        </p>
      </div>






      <app-creat-list ></app-creat-list>
    </div>

  </div>
</body>

